h1 {
	font-family: sans-serif;
	font-size: 40px;
}

p {
	font-family: sans-serif;
}

.cardtable {
	background-color: darkgreen;
	border-radius: 10px;	
}

.card {
	border: 3px solid black;
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	margin: 10px 10px 10px 10px;
	text-align: center;
	font-size: 40px;
	background-color: goldenrod;
}

.card.revealed {
	background-color: gray;
}

.card.solved {
	background-color: rgb(41, 127, 143);
	border: 3px solid gold;
}